<header>
    <div class="wrapper">
        <%= link_to root_path, :id => "radish-logo" do %>
            <h1>Radish</h1>
        <% end %>
        
        <nav>
            <%= link_to "BLOG  |  ", blog_path %>

            <%= link_to "sign in", signin_path %>
            <%= link_to "sign up", root_path, :class => 'sign-up' %>
        </nav>
    </div> <!-- /wrapper -->
</header>