<form id="simple-signup" method="post" action="#">
    <input id="email" name="signup[email]" type="email" placeholder="Your Email">
    <input id="password" name="signup[password]" type="password" placeholder="Password">
    <p>Sorry, we're currently not accepting new sign ups.</p>
</form> 