<header class="sign-in">
    
    <%= link_to root_path do %>
        <h1>Radish</h1>
    <% end %>
    
    
</header>


<section class="sign-in-form">
    <h1>Signin Here</h1>
    <%= render 'shared/sign-up-form'%>
</section>